*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: #fff;
}
.section{
    min-height: 100vh;
    padding-top: 100px;
}
.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right:20px;

}
h1{
    font-size: 40px;
    margin-bottom: 50px;
    color: burlywood;
    text-align: center;
}

.content{
    max-width: 700px;
    margin: auto;
}
.accordian_item{
    border: 1px solid burlywood;
    padding: 20px;
}
.accordian_title{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 25px;
}
.accordian_title h3{
     flex: 1;  /* arrow shifting in right side */
     font-size: 20px;
}
.accordian_title i{
    font-size: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.accordian_content{
    display: none;
}
.accordian_title.active + .accordian_content{
   display: block; 
   padding-top: 20px;
}
.accordian_content p{
    font-size: 20px;
    color: cadetblue;
    padding-left: 20px;
}
.accordian_title.active i{
   transform: rotate(180deg); 
   transition: all 0.5s ease-in-out;
}
.accordian_title.active{
    border-bottom: 2px solid cadetblue;
}